<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personnel_Department_of_the_Institute.Properties.Settings.Personnel_Department_of_the_InstituteConnectionString"
            connectionString="Data Source=LAPTOP-5FC12NDF\SQLEXPRESS;Initial Catalog=Personnel_Department_of_the_Institute;Integrated Security=True"
            providerName="System.Data.SqlClient" />
		<add name="egeLABSDataBase.Properties.Settings.SalesDepartmentConnectionString1"
            connectionString="Data Source=LAPTOP-7JTFI612\SQLEXPRESS;Initial Catalog=SalesDepartment;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Personnel_Department_of_the_Institute.Properties.Settings.Personnel_Department_of_the_Institute"
            connectionString="Data Source=LAPTOP-5FC12NDF\SQLEXPRESS;Initial Catalog=Personnel_Department_of_the_Institute;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>