<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personnel_Department_of_the_Institute.Properties.Settings.Personnel_Department_of_the_InstituteConnectionString"
            connectionString="Data Source=LAPTOP-7JTFI612\SQLEXPRESS;Initial Catalog=&quot;Personnel Department of the Institute&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>